{{#if isSecondary}}
    <ul class="nav" id="nav-footer">
        <li class="nav-service-link">
            <a href="https://deepsales.com/?ref=blog.deepsales.com">Go to DeepSales</a>
        </li>
    </ul>
{{else}}
    <ul class="nav" role="menu" id="nav-header">
        <li class="nav-press-releases"><a href="https://blog.deepsales.com/press-releases/">Press Releases</a></li>
        <li class="nav-case-studies"><a href="https://blog.deepsales.com/case-studies/">Case Studies</a></li>
        <li class="nav-insights"><a href="https://blog.deepsales.com/insights/">Insights</a></li>
        <li class="nav-tutorials"><a href="https://blog.deepsales.com/tutorials/">Tutorials</a></li>
        <li class="nav-newsletters"><a href="https://blog.deepsales.com/newsletters/">Newsletters</a></li>
    </ul>
{{/if}}